<a href="https://colab.research.google.com/github/changw121/Best-websites-a-programmer-should-visit/blob/master/%E6%95%B0%E6%8D%AE%E9%A2%84%E5%A4%84%E7%90%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# 创建一个人工数据集，并存储在csv文件中
import os
os.makedirs(os.path.join('..', 'data'), exist_ok=True) # 数据文件在程序所在文件夹的同级data文件夹里
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
  f.write('NumRooms, Alley, Price\n') # 列名
  f.write('NA, Pave, 127500\n') # 每行表示一个数据样本
  f.write('2, NA, 106000\n')
  f.write('4, NA, 178100\n')
  f.write('NA, NA, 140000\n')

In [27]:
# 从创建的csv文件中加载数据集
import pandas as pd
data = pd.read_csv(data_file)
print(data) # 也可以不print，直接用data输出

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0     NA  106000
2       4.0     NA  178100
3       NaN     NA  140000

In [34]:
# 处理缺失的数据的方法：插值、删除
inputs, outputs = data.iloc[:,0:2], data.iloc[:,2] # 0和1列给inputs，2列给outputs
print(inputs)
print(outputs)
inputs = inputs.fillna(inputs.mean()) # 用inputs.mean()均值填充
print(inputs)

   NumRooms  Alley
0       NaN   Pave
1       2.0     NA
2       4.0     NA
3       NaN     NA
0    127500
1    106000
2    178100
3    140000
Name:  Price, dtype: int64
   NumRooms  Alley
0       3.0   Pave
1       2.0     NA
2       4.0     NA
3       3.0     NA

<ipython-input-34-fd6f19d24335>:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  inputs = inputs.fillna(inputs.mean()) # 用inputs.mean()均值填充

In [35]:
# 对于inputs中的类别值或离散值
print(inputs)
inputs = pd.get_dummies(inputs, dummy_na=False)
print(inputs)

   NumRooms  Alley
0       3.0   Pave
1       2.0     NA
2       4.0     NA
3       3.0     NA
   NumRooms   Alley_ NA   Alley_ Pave
0       3.0           0             1
1       2.0           1             0
2       4.0           1             0
3       3.0           1             0

In [36]:
# 现在inputs和outputs里面的所有条目都是数值类型，他们可以转换成张量格式
import torch
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 0., 1.],
         [2., 1., 0.],
         [4., 1., 0.],
         [3., 1., 0.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))